<div class="row">
    <h1>{{pagetitle}}</h1>
    <div class="card my-3" style="width: 18rem;">
        <div class="card-body">
          <h5 id="charactertitle" class="card-title">{{player.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{player.build}}</li>
          <li class="list-group-item">{{player.element}}</li>
          <li class="list-group-item">{{player.weapon}}</li>
        </ul>
      </div>
    
    <div class="artifact-info" ng-repeat="result in choices">
    {{result.artifact.name}}
    </div>

</div>