<div class="row">
    <div class="col">
        <h1>{{pagetitle}}</h1>
        <div class="card my-3" style="width: 18rem;">
            <div class="card-body">
                <h5 id="charactertitle" class="card-title">{{player.name}}</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">{{player.build}}</li>
                <li class="list-group-item">{{player.element}}</li>
                <li class="list-group-item">{{player.weapon}}</li>
            </ul>
      </div>
    </div>
    
</div>
<div class="row">
    <div class="col-4">
        <div class="list-group">
            <a class="list-group-item list-group-item-action" ng-repeat="result in choices" ng-click="setartifact(result.artifact)">
                {{result.artifact.name}}
            </a>
        </div>
    </div>
    <div class="col">
        <div class="card">
            <div class="card-body">
                <div ng-show="artifact">
                    <h1>{{artifact.name}}</h1>
                    <div>{{artifact.tags}}</div>
                </div>
            </div>
        </div>
    </div>
</div>